* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .meal-page {
  background-image: url('images/dragonball-z-kakarot-full-course-meal-1.avif');
}

body .trening-page {
  background-image: url('images/vegeta-turns-super-saiyan-2-in-battle-of-gods.avif');
}

body .meal-page,
body .trening-page {
  min-height: 94vh;
  max-height: 100vh;
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

nav {
  width: 100%;
  padding: 15px 20px;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  color: #756b6b;
}

#datePicker {
  margin-left: auto;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
input[type='text'],
input[type='number'],
input[type='submit'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;
}
input[type='number'] {
  width: 10%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  background-color: rgb(88, 146, 205);
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.custom-select option {
  position: absolute;
  background-color: rgb(94, 153, 212);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

#totalKcalText {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 30%;
}

.hidden {
  display: none;
}
