form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
input[type='text'],
input[type='number'],
input[type='submit'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;
}
input[type='number'] {
  width: 10%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
